<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>
<div class="fixed-bottom center" style="text-align:center"></div>
<!--<p style="left:0;-->
<!--            bottom:0;-->
<!--            width:100%;-->
<!--            text-align:center;-->
<!--            font-weight:bold; -->
<!--            background:#f3f3f3; ">TradeMark YelpCamp &#174 2018</p>-->
</div>
</body>

</html>
