<br>
<div class="fixed-bottom center" style="text-align:center"></div>
<!--<p style="left:0;-->
<!--            bottom:0;-->
<!--            width:100%;-->
<!--            text-align:center;-->
<!--            font-weight:bold; -->
<!--            background:#f3f3f3; ">TradeMark YelpCamp &#174 2018</p>-->
</div>
</body>

</html>
